# Python 字节码缓存
__pycache__/
*.pyc
*.pyo

# PyCharm IDE配置文件
.idea/
*.iml

# 日志文件
logs/
*.log
*.log.*

# .vscode文件
.vscode/

# atopmall接口文档 手动完善所有接口文档
# 更新完善所有接口文档,git仓库已经忽略 需要的邮箱留言：yolo_t@outlook.com
atopmall接口文档/

# 热加载服务
tmp/

# 详细文档(暂不公开)
docs/design/diagrams/

#忽略配置文件有邮箱授权码等重要信息，上传git的是配置文件模板
atopmall_web/user_web/config-debug.yaml